
Hej <h2><%=@awaiting.email %></h2>
<p>
  <%= @reservation.expires_at %> upływa termin oddania książki pt. <%= @book.title %>. Zaraaz znow bedzie dostepna<br>
  <%= link_to "Przejdź do książki", book_url(@book.id, host: "localhost:3000") %>
</p>
